{{#if goals}}
{{#each goals}}
<div class="goals_wrap">
    <h2 class="goals_title">Your Goals:</h2>
    
    <div class="current_goal">
        <div class="goal_view_wrap">
            <div>
                <p class="current_info" style="height: 45px;">Current Balance: ${{this.currentAmount}}</p>
            </div>
            <form class="edit-form" action="/editBalance/{{id}}?_method=PUT" method="POST">
                <h3>Add To Balance</h3>
                <input type="number" name="amount">
                <button>Submit</button>
            </form>
            <div>
                <p id="difference" class="current_info_left" style="height: 45px;">How much left: {{this.balance}}$</p>
            </div>
        </div>

        <div class="goal_view_wrap">
            <h2 class="goal-name-output">{{this.goalName}}</h2>
            <img id="item" class="photo" alt="Item" src="">
            <h2>Goal amount:</h2>
            <p>{{this.goalAmount}}$</p>
        </div>
    </div>
    <a href="/goals_form">
        <button class="goals_button">Add a goal</button>
    </a>
</div>
{{/each}}
{{else}}
<div class="no_goals_form_wrap">
    <div class="no_goals_form">
        <h2 class="no_goals_title">No Goals Yet*</h2>
    </div>
    <a href="/goals_form">
        <button class="goals_button">Add a goal</button>
    </a>
</div>
{{/if}}


<script src="/js/goals.js"></script>